$aquamarine:rgb(91, 247, 195);
$aqua:rgb(84, 226, 178);;
$dark-red:rgb(98, 2, 21);
$grey:rgb(98, 96, 96);
$dark-grey:rgb(59, 59, 59);
$white:white;
$brown:rgb(58, 7, 7);
$black:black;
$form:rgb(27, 26, 26);